html {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	font-family: OpenSans, sans-serif;
	letter-spacing: 0.05ex;
	font-size: 18px;
	line-height: 150%;
}

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	max-width: 960px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
}

h1 {
	text-transform: capitalize;
	letter-spacing: 0.2ex;
	font-size: 160%;
	font-weight: 600;
	line-height: 1.2em;
	padding-top: 2ex;
	padding-bottom: 1ex;
}

h2 {
	letter-spacing: 0.3ex;
	font-size: 130%;
	margin-top: 3ex;
	margin-bottom: 0.5ex;
	font-weight: 600;
}

h3 {
	font-size: 110%;
}

header {
/*	background-image: url('/static/images/header-background.jpg');*/
	padding-top: 1ex;
	padding-bottom: 1ex;
}

main {
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
}

nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    border-top: thin solid black;
    border-bottom: thin solid black;
    font-variant: small-caps;
}

nav a {
    padding-left: 2em;
    padding-right: 2em;
	text-decoration: none;
	color: inherit;
}

nav nav {
	text-align: left;
	border: none;
}

nav.user {
	text-align: right;
	font-variant: normal;
	font-size: 80%;
	border-top: none;
	border-bottom: none;
}

article {
	text-align: left;
}

article h1 {
	letter-spacing: 0.1ex;
	font-size: 130%;
	border-top: #ccc 1px solid;
	margin-top: 4ex;
}

article:first-of-type h1 {
	border-top: none;
	margin-top: 0ex;
}


article h2 {
	letter-spacing: 0.1ex;
	font-size: 110%;
	margin-top: 3ex;
	margin-bottom: 0.5ex;
	padding-bottom: 0ex;
}


p {
	margin-top: 0ex;
	padding-top: 0ex;
}

a {
	text-decoration: none;
	color: DodgerBlue;
}

a:hover, a:active {
	text-decoration: underline;
}

nav a, h1 a, h2 a, h3 a, h4 a {
	color: inherit;
}


ul {
	list-style: disc outside none;
	padding-left: 1em;
}

li {
	padding-left: 0.5em;
}

dt {
	float: left;
	clear: left;
	padding-right: 2em;
}

dt::after {
	content: ":";
}

figure {
	text-align: center;
}

figcaption {
	text-align: left;
	margin-top: 0.5ex;
	font-size: 90%;
	padding-bottom: 2ex;
}

div.date {
	font-weight: bold;
	float: right;
}

table thead th {
    border-bottom: solid thin black;
    margin-bottom: 3em;
}

table tbody::before {
    content: "";
    display: block;
    height: 0.5em;
}

table tbody::after {
    content: "";
    display: block;
    height: 1.0em;
}

table td, table th {
    padding-left: 1em;
    padding-right: 1em;
}

table {
    border: none;
    border-spacing: 0;
}

table.float {
	float: left;
}

div.clear {
	clear: both;
}

figure.figleft-captionright {
    overflow: auto;
    position: relative;
    margin-left: 1em;
}

figure.figleft-captionright img {
    width: 40%;
    float: left;
}

figure.figleft-captionright figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
    text-align: left;
}

div#footer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#goto-logo-menu {
	display: inline;
}
#goto-logo {
	display: none;
}

div.twitter {
	font-size: 70%;
	line-height: 140%;
}

div.twitter a.follow {
	display: inline-block;
	background: #4099ff;
	border-radius: 0.5ex;
	padding-top: .3ex;
	padding-bottom: .3ex;
	padding-left: 1.6ex;
	padding-right: 1.6ex;
	color: white;
	font-size: 80%;
}

div.twitter img {
	height: 1.5ex;
}

@media (max-width: 860px) {
	nav a {
		font-size: 80%;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

@media (max-width: 680px) {
	figure.figleft-captionright {
		overflow: visible;
		position: static;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	figure.figleft-captionright img {
		width: 100%;
	}

	figure.figleft-captionright figcaption {
		position: static;
		width: 100%;
	}
}

@media (max-width: 480px) {
	nav a {
		display: block;
		font-size: 120%;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-top: 0.5ex;
		padding-bottom: 0.5ex;
	}
	#goto-logo-menu {
		display: none;
	}
	#goto-logo {
		display: inherit;
	}
}
