{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>{% block head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Classification</title>
{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" media="screen and (max-width: 640px)" href="{% static 'css/small.css' %}" />
{% endblock stylesheets %}
{% block scripts %}{% endblock scripts %}
{% endblock head %}</head>
<body>
{% block user %}{% include "user.html" %}{% endblock user %}
<nav>{% block nav %}{% include "nav.html" %}{% endblock nav %}</nav>
{% block content %}
{% endblock content %}
{% block footer %}{% include "footer.html" %}{% endblock footer %}
</body>
</html>
