{% extends "base.html" %}
{% block content %}
<ul>	
	<li><a href="{% url 'logout' %}">Log out</a></li>
	<li><a href="{% url 'password_change' %}">Change password</a></li>
</ul>
{% endblock content %}
